@using ProjectManagement.App_Start.Classes
@using ProjectManagement.Models
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="callout callout-warning">
        <h4>Welcome User!</h4>
        <p>
            Chào mừng đến với Hệ thống quản lý Đồ án Chuyên ngành.
        </p>
    </div>


</section>

