@using System.Linq
@using ProjectManagement.App_Start.Classes
@using ProjectManagement.Models
@model IEnumerable<ProjectManagement.Models.KhoaHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <h1>Sinh Viên / Khóa Học</h1>
</section>
<section class="content">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-12">
            <h3>Danh sách Khóa học</h3>
        </div>
    </div>
    <div class="box">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th style="width: 50px">STT</th>
                    <th>
                        Mã Khóa Học
                    </th>
                    <th>
                        Tên Khóa học
                    </th>
                    <th>
                        Danh sách Sinh viên
                    </th>
                </tr>
                @{
                    int stt = 0;
                    ProjectManagementEntities db = new ProjectManagementEntities();
                }
                @foreach (var item in Model)
                {
                    stt++;
                    List<KhoaHoc> userCreatedBy = db.KhoaHocs.ToList();
                    <tr>
                        <td>@stt</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhoaHocID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenKhoaHoc)
                        </td>
                        <td>
                            <a href="@Url.Action("DSSV", new { KHId = item.KhoaHocID })">Danh sách Sinh Viên</a>
                        </td>
                    </tr>
                }
            </tbody>



        </table>
    </div>
</section>
